
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html{
  width: 100%;
  padding: 0;
  margin: 0;
}

body{
  font-family: '宋体';
  padding: 0 15px 0 15px;
}

a{
  text-decoration: none;
}

li{
  text-decoration: none;
  list-style: none;
}

